<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-admob-mediation-adcolony"
	version="1.0.0">
      
    <name>AdMob Mediation Adapter for AdColony Audience Network</name>
	<description>AdMob Mediation Adapter for AdColony Audience Network</description>
	<author>WarCry2000</author>
	<keywords>admob,mediation,adcolony</keywords>
	<license>MIT</license>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.jirbo.adcolony.AdColonyOverlay" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
			<activity android:name="com.jirbo.adcolony.AdColonyFullscreen" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
			<activity android:name="com.jirbo.adcolony.AdColonyBrowser" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        </config-file>
	    <source-file src="src/android/adcolony.jar" target-dir="libs" />
    </platform>

    <platform name="ios">  
		<header-file src="GADMAdapterAdColonyExtras.h" />
		<header-file src="GADMAdapterAdColonyInitializer.h" />		
        <source-file src="libAdapterSDKAdColony.a" framework="true" />

		<framework src="src/ios/AdColony.framework" custom="true"/>
		<framework src="libz.1.2.5.tbd" />		
		<framework src="AudioToolbox.framework" weak="true" />
		<framework src="AdSupport.framework" weak="true" />
		<framework src="AVFoundation.framework"/>
		<framework src="CFNetwork.framework"/>
		<framework src="CoreGraphics.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="EventKit.framework" />
		<framework src="EventKitUI.framework"/>
		<framework src="Foundation.framework" />
		<framework src="MediaPlayer.framework" />
		<framework src="MessageUI.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="Social.framework" weak="true"/>
		<framework src="StoreKit.framework"/>
		<framework src="SystemConfiguration.framework" />
		<framework src="UIKit.framework" />
		<framework src="WebKit.framework" />
    </platform>

</plugin>
